<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PetShop</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
